.reset-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rest-password-box{
    width: 320px;
}
.resetContainer{
    margin-top: 7%;
   display: flex;
   margin-left: auto;
   margin-right: auto;
}
.hide-btn-reset{
    position: absolute;
    right: 20px;
    background-color: transparent;
    border: none;
    color: #888;
}
.reset-done.enabled{
    position: relative;
    top: 24px;
    background-color: rgba(7, 47, 87, 1);
    color: #fff;
    width: auto;
    height: 36px;
    padding: 7px 9px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}

.tooltips{
   position: relative;
}

.tooltips .top {
    min-width:300px;
    top:-10px;
    left:50%;
    transform:translate(-20%, -100%);
    padding:10px 20px;
    color:#FFFFFF;
    background-color:#777777;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    display:none;
}

.tooltips:hover .top {
    display:block;
}

.tooltips .top i {
    position:absolute;
    top:100%;
    left:20%;
    margin-left:-15px;
    width:30px;
    height:15px;
    overflow:hidden;
}

.tooltips .top i::after {
    content:'';
    position:absolute;
    width:15px;
    height:15px;
    left:50%;
    transform:translate(-50%,-50%) rotate(45deg);
    background-color:#777777;
}
@media only screen and (max-width:768px){
    .tooltips .top {
        transform:translate(-50%, -100%);
    }
    .tooltips .top i {   
        left:50%;
    }

}

.rest-password-box{
    padding: 0px 20px;
   }
@media (min-width: 0px) and (max-width:768px) {
   .rest-password-box{
    padding: 0px 10px;
   }
   .reset-done{
    margin-top: 4px;
   }
}

@media only screen and (min-width:768px){
    .hide-btn-reset{
        margin-top: -8px !important;
       }
}

@media only screen and (max-width:415px){
    .rest-password-box{
        width: max-content !important;
    }
    .hide-btn-reset {
        right: 7px !important;
    }
}
.error-message{
    color: red;
    font-size: 11px;
    position: relative;
    top: -15px;
  }

  .reset-done {
    position: relative;
    top: 24px;
    color: #fff;
    width: auto;
    height: 36px;
    padding: 7px 9px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
  }
  
  .reset-done:enabled {
    background-color: rgba(7, 47, 87, 1);
    color: #ffffff;
  }
  
  .reset-done:disabled {
    background-color: grey;
    color: #acacac;
  }
  